@model IEnumerable<HolidayEntitlement>

<h2>Holiday Entitlements</h2>

@if (!Model.Any())
{
    <tr><td colspan="3" class="text-center">Holiday Entitlement</td></tr>
}
else
{
    <table class="table table-condensed table-bordered">
        <tr>
            <th>ID</th>
            <th>User</th>
            <th>Year</th>
            <th>Years Entitlement</th>
            <th>Options</th>
        </tr>

        @foreach (HolidayEntitlement holidayEntitlement in Model)
        {
        <tr>
            <td>@holidayEntitlement.Id</td>
            <td>@holidayEntitlement.Users.UserName</td>
            <td>@holidayEntitlement.Year</td>
            <td>@holidayEntitlement.YearsEntitlement</td>
            <td>
                <form asp-action="Delete" asp-route-id="@holidayEntitlement.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@holidayEntitlement.Id">Edit</a>
                    <button type="submit" onclick="return confirm('Do you really want to archive this Entitlement?');" class="btn btn-sm btn-danger">
                        Archive
                    </button>
                </form>
            </td>
        </tr>
        }
    </table>
}

    <p>
        <a class="btn btn-primary" asp-action="Create">Add New User</a>
        <a class="btn btn-primary" asp-action="CopyToNewYear">Copy to New Year</a>
    </p>

