@model IEnumerable<Department>

<div style="margin-left:10px; margin-top:50px">

    <br />


    <h6> Departments</h6>

    <div class="dx-tabpanel" style="font-family:Arial; font-weight:bolder">


        @foreach (Department department in Model)
        {

            @*<li class="llbutton  button80per"><a class="nav-link" style="color:darkgray" id="loginLink" asp-controller="Home" asp-action="Test" asp-route-DepartmentId="@department.Id">@department.DepartmentName</a></li>
            <br />*@

        <form asp-action="Home"  method="put" style="color:darkgray ; width:auto">
            <a class="btn llbtn-info" asp-action="Index" asp-route-DepartmentId="@department.Id">@department.DepartmentName</a>

            @*<a class="btn btn-sm btn-primary" asp-action="EditUser" asp-route-DepartmentId="@department.Id">@department.DepartmentName</a>*@

        </form>
            <br />
        }
    </div>
</div>


