@model IEnumerable<IdentityUser>

<div style="margin-left:10px; margin-top:50px; align-content:center">

    <br />
    <br />
    <br />
    <br />


    <h4>
        Entitlements
    </h4>

    <div class="dx-tabpanel" style="align-content:flex-start">
        @foreach (HolidayUser user in Model)
        {
            {

        <dir style="align-content:flex-start" Entitlements>
            <li class="border-info"><a class="col-form-label" style="color:slategray">@user.UserName : @user.HolidaysRemaining of @user.HolidaysAssigned</a></li>
            <meter style="width:80%" value="@user.HolidaysRemaining" min="0" max="@user.HolidaysAssigned"></meter><br>
        </dir>
            }
        }
    </div>
</div>
